services:
  local-db:
    image: postgres:15
    container_name: local-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: local_db
    ports:
      - '5436:5432'
    volumes:
      - local_data:/var/lib/postgresql/data

volumes:
  local_data:
